.assignment-record {
    display: flex;
    flex-direction: row;
    min-width: 33vw;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(256, 256, 256, 0.7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}

.assignment-record:hover {
    background-color: black;
    cursor: pointer;
}

.assignment-record > p:first-child {
    font-size: 200%;
    margin-right: 50px;
}

.assignment-record > p:last-child {
    display: block;
    margin-left: auto;
    font-size: 300%;
    cursor: pointer;
}