.assignment-record {
    display: flex;
    flex-direction: row;
    min-width: 33vw;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(256, 256, 256, 0.7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}

.assignment-record:hover {
    background-color: #8CF0D1;
    cursor: pointer;
}

.assignment-record > p:first-child {
    font-size: 200%;
    margin-right: 50px;
}

.assignment-record > p:last-child {
    display: block;
    margin-left: auto;
    font-size: 300%;
    cursor: pointer;
}

.assignment-name > p:first-child  {
    font-size: 120%;
    text-align: left;
}
.assignment-status {
    display:inline-block;
    padding-right: 30px;
    text-transform: uppercase;
}
.assignment-date {
    display:inline-block;
}

.status-overdue {
    color: red;
    font-weight: bold;
}

.status-upcoming {
    color: #0BEC0D;
}
.status-submitted {
    color: #0B2AEC;
    font-weight: bold;
}