.tab-header {
    height: 4em;
    width: 25%;
    padding: 1.5em auto;
    margin: 1em 0.5em;
    background-color: #FEB1C0;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);    
    color: white;
}

.tab-header:hover {
    letter-spacing: 0.8em;
    background-color: #F08C99;
}

.tab-header
.tab-header:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tab-header:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}